@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faf7f0;
}

.container {
  background-color: #31e1f7;
  width: 40vw;
  height: 50vh;
  margin: 25vh auto;
  padding: 10px;
  border-radius: 10px;
}
.log-in {
  font-family: "Sono", sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-radius: 20px;
}
.label {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.input {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  width: 25vw;
  margin: 10px 0;
}
.input:hover {
  background-color: #f7f7f7;
  color: black;
}

.cont {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.lower {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin: 10px;
  padding: 4px 10px;

  border-radius: 10px;
  border: #31e1f7;
}
.btn:hover {
  background-color: red;
  border: none;
  color: white;
  /* transition: 0.5s; */
}
.click {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
p {
  font-weight: 545;
}
