@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b1b2ff;
}

.container {
  background-color: #d2daff;
  width: 40vw;
  height: 50vh;
  margin: 25vh auto;
  padding: 10px;
  border-radius: 10px;
}
.sign-up {
  font-family: "Sono", sans-serif;
  background-color: #a66cff;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-radius: 20px;
  font-weight: bolder;
  color: white;
}
.label {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}
.input {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  width: 25vw;
  margin: 10px 0;
  outline: none;
}
.input:hover {
  background-color: #eef1ff;
  color: black;
}

.cont {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.lower {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
  padding: 4px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: #31e1f7;
}
.btn:hover {
  background-color: #e8f9fd;
  border: none;
  color: black;
  font-weight: bolder;
  /* transition: 0.5s; */
}
.click {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
p {
  font-weight: 545;
}

@keyframes pop-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
  }
}

.container {
  animation: pop-up 1s ease-in 1ms 1 backwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
